{% extends 'base.html.twig' %}

{% block title %}AI://DevSec Jonathan Saenger{% endblock %}

{% block body %}
    <section id="accueil">
        {% include "partials/_accueil.html.twig" %}
    </section>
    <section id="articles">
        {% include "partials/_article.html.twig" %}
    </section>
    <section id="presentation">
        {% include "partials/_presentation.html.twig" %}
    </section>
    <section id="contact">
        {% include "partials/_contact.html.twig" %}
    </section>
{% endblock %}
